# use openssl rand -hex 32 to generate keys/secrets

# Rebrand the app if you want
NEXT_PUBLIC_APP_NAME="apollo-dev"
# URL of the app
NEXT_PUBLIC_VERCEL_PROJECT_PRODUCTION_URL="localhost:3000"
# Environment type
NEXT_PUBLIC_VERCEL_ENV="development"
# Umami analytics, leave as dev to disable
NEXT_PUBLIC_UMAMI_ID="dev"
NEXT_PUBLIC_UMAMI_SCRIPT_URL="localhost"
# Fake grid success for testing purposes
NEXT_PUBLIC_SIMULATE_GRID=true
# Signature secret for JWTs
JWT_SECRET=""
# Ramper URL to use for auth
RAMPER_URL="https://us-central1-ramper-prod.cloudfunctions.net"
# User agent to use when making requests to Ramper
RAMPER_USERAGENT="Mozilla/5.0 (iPhone; CPU iPhone OS 17_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.4.1 Mobile/15E148 Safari/604.1"
# Ramper app ID to use, defaults to Cosmo's
RAMPER_APP_ID=alzeakpmqx
# Ramper Firebase
NEXT_PUBLIC_RAMPER_FIREBASE_KEY=""
NEXT_PUBLIC_RAMPER_FIREBASE_ID=""
# https://www.alchemy.com/
ALCHEMY_KEY=""
# Neon (main database)
DATABASE_URL="postgres://postgres:postgres@db.localtest.me:5432/main"
# Postgres HTTP proxy (objekt indexer)
INDEXER_PROXY_KEY=key
INDEXER_PROXY_URL=http://localhost:8080
# Auth key to access Apollo APIs
AUTH_KEY=key
# Cron secret
CRON_SECRET=key
# Auth
BETTER_AUTH_SECRET=""
# Discord OAuth
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
# Twitter OAuth
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""