/* carousel styles */
@utility embla {
  overflow: hidden;
}
@utility embla__container {
  display: flex;
}
@utility embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* 3d transforms for objekt flip */
@utility rotate-y-180 {
  transform: rotateY(180deg);
}
