@import "tailwindcss" source("../");
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./shadcn.css";
@import "./layout.css";

@custom-variant dark (&:is(.dark *));
@custom-variant firefox (:-moz-any(&));

/* dm-sans-latin-wght-normal */
@font-face {
  font-family: "DM Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(@fontsource-variable/dm-sans/files/dm-sans-latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* cosmo header font */
@font-face {
  font-family: HalvarBreitBd;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/HalvarBreit-Bd.woff2") format("woff2");
}

@theme inline {
  --font-sans: "DM Sans Variable", sans-serif;
  --font-cosmo: "HalvarBreitBd", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-cosmo: var(--color-violet-600);
  --color-cosmo-text: var(--color-violet-400);
  --color-cosmo-hover: var(--color-violet-700);
  --color-cosmo-profile: var(--color-violet-200);

  --color-abstract: #29e58a;
  --color-discord: #5865f2;
  --color-twitter: #1da1f2;
  --color-triples: #8ebdd1;
  --color-artms: #d5b7e2;
  --color-idntt: #25347c;
  --color-atom: #ffdd00;
  --color-binary: #75fb4c;
  --color-cream: #ff7477;
  --color-divine: #b400ff;
  --color-ever: #33ecfd;
  --color-summer: #ffa500;
  --color-autumn: #d2691e;
  --color-winter: #87ceeb;
  --color-spring: #98fb98;

  --aspect-photocard: 5.5 / 8.5;

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}
